body{
    margin: 0;
    font-family: arial, sans-serif;
    background-color : #def6a6;
}

h1{
    text-align: justify-all;
    font-size: 40px;
}

#img{
    width: 100%;
    padding: 15px;
}

#menu{
    padding: 15px;
}

.btn{
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
    font-size: 20px;
}

.logoRS{
    cursor:pointer;
}

#initiativepng{
    width: 80%;
    height: auto;
    margin-left: auto;
    margin-right:    
}

#btnMenu {
    text-align: right !important;
    padding: inherit;
}

alignBtn{
    margin: 20px;
}

#imgmap{
    width: 90%;
    height: 60%;
}

#demoMockup{
    align-content: center;
}

td{
    border: 1px solid black;
}
